* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #fff;
    color: #fff;
    text-align: center;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
}

nav ul li input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
}

nav ul li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin-left: 10px;
}

.hero {
    height: 100vh;
    background: url('./img/drink.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 10px;
}

.arrow {
    margin-top: 20px;
    font-size: 2rem;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
