* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    max-height: 3365px;  
    width: 100%;
    
}
header{
    z-index: 100;
    position: absolute;
    /* top: 0; */
    /* text-align: center; */
    /* padding-top: 10px; */
}

main{
    width: 80%;
    margin: 0;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Parte de cima: Texto "Um drink para cada momento" */
.top-section {
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
}

/* Faixa de divisão */
.divider {
    height: 100px;
    background-color: #e9ecef; /* Escolha uma cor para a faixa de divisão */
    margin: 0; /* Remove o espaço entre as seções */
}

.divider2 {
    height: 30px;
    background-color: #e9ecef; /* Escolha uma cor para a faixa de divisão */
    margin: 0; /* Remove o espaço entre as seções */
}


/* Parte do meio: Texto "Muito a explorar" */
.middle-section {
    background-color: #e9ecef;
    padding: 50px;
    text-align: center;
}



.logo h1 {
    font-family: 'Kolker Brush', cursive;
    font-size: 5rem;
    color: #e4d5a3;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #EEEEEE;
    padding: 15px 0;

}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    /* font-weight: bold; Coloca o texto em negrito */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #000000;
    font-family: 'Kavivanar', cursive;
    font-size: 18px;
    padding: 10px 30px;
}

nav ul li input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
}

nav ul li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin-left: 10px;
}

.hero {
    height: 100vh;
    background: url('./img/drink.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.content h2 {
    font-family: 'Milonga', cursive;
    font-size: 3rem;
    padding: 20px 40px;
    border-radius: 10px;
    z-index: 2;
}

.arrow {
    margin-top: 20px;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    animation: bounce 2s infinite;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.arrow:hover {
    transform: scale(1.1);
    animation: shake 0.5s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}

.explorar-section {
    background-color: #9C3333;
    color: #fff;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explorar-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
}

.explorar-text {
    text-align: left;
    flex: 1;
    padding-right: 20px;
}

.muito-a {
    font-family: 'Lancelot', cursive;
    font-size: 55px;
}

.explorar {
    font-family: 'Lao Sans Pro', sans-serif;
    font-size: 60px;
}

.descricao {
    font-family: 'Bona Nova', serif;
    font-size: 25px;
    margin-top: 10px;
}

.categoria-cards-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.categoria-cards {
    display: flex;
    gap: 20px;
    scroll-snap-align: start;
}

.card {
    position: relative;
    min-width: 250px;
    height: 350px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    scroll-snap-align: start;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-title {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

/* Seção de Destaque */
.destaque-section {
    background-color: #e9ecef; /* Fundo cinza do container */
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.destaque-container {
    background-color: #9C3333; /* Fundo interno da seção em destaque */
    color: #fff;
    border-radius: 15px;
    display: flex;
    padding: 20px;
    max-width: 1200px; /* Aumenta o tamanho do container */
    max-height: 532px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between; /* Espaça os itens */
    align-items: center; /* Centraliza os itens verticalmente */
}


.texto-destaque {
    flex: 1;
    padding-right: 20px;
    text-align: left;
    font-family: 'Bona Nova', serif;
}

.texto-destaque h1 {
    font-size: 2.5em;
    margin: 0;
}

.texto-destaque h1 span {
    font-family: 'Lancelot', cursive;
    font-size: 1.7em;
    color: #e4d5a3;
}

.texto-destaque p {
    margin-top: 1px;
    font-size: 1.2rem;
}

/* Modificações solicitadas para centralizar a imagem */
.imagem-destaque {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Coloca os itens em coluna */
    flex: 0.8; /* Permite que a seção utilize espaço disponível */
    text-align: center; /* Garante que o texto também esteja centralizado */
    margin: 0 auto; /* Adiciona margens automáticas para centralizar a seção */
}

.imagem-destaque img {
    border-radius: 10px;
    width: 200px; /* Define o tamanho da imagem */
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do container */
}

.detalhes-destaque {
    flex: 0.5;
    color: #fff;
}

.detalhes-destaque h2 {
    font-family: 'Lancelot', cursive;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.detalhes-destaque ul {
    list-style-type: disc;
    padding-left: 10px;
}

.detalhes-destaque li {
    font-size: 1.2em;
    margin-bottom: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    .logo h1 {
        font-size: 3rem;
    }

    .content h2 {
        font-size: 2rem;
        padding: 10px 20px;
    }

    nav ul {
        flex-direction: column;
    }

    .explorar-container {
        flex-direction: column;
    }

    .texto-destaque h1 {
        font-size: 2rem;
    }

    .destaque-container {
        flex-direction: column;
        text-align: center;
    }

    .imagem-destaque img {
        width: 100%;
    }
}

/* Estilos para a seção de "Tematizar" */
.tematizar-section {
    background-color: #FAFAFA;
    padding: 40px 0;
}

.tematizar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px; /* Largura máxima para centralizar */
    margin: 0 auto;
}

.tematizar-texto {
    background-color: #C0413B; /* Cor de fundo aplicada somente no texto */
    color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    width: 523px; /* Largura exata */
    height: 548px; /* Altura exata */
    font-family: 'Bona Nova', serif;
}

.tematizar-texto h1 {
    display: flex;
    flex-direction: column;
    font-size: 55px; /* Tamanho para "Inovar pede" */
    width: 288px; /* Largura de "Inovar pede" */
    height: 61px; /* Altura de "Inovar pede" */
    line-height: 61px; /* Para alinhar com a altura */
    color: #FFFFFF;
}

.tematizar-texto h1 span {
    font-size: 80px; /* Tamanho para "Tematizar" */
    width: 353px; /* Largura de "Tematizar" */
    height: 88px; /* Altura de "Tematizar" */
    font-family: 'Kolker Brush', cursive;
    color: #FFFFFF;
    line-height: 88px; /* Para alinhar com a altura */
}

.tematizar-texto p:first-of-type {
    font-size: 25px; /* Tamanho para "Para a realização de uma festa..." */
    width: 366px; /* Largura do texto */
    height: 90px; /* Altura do texto */
    line-height: 30px; /* Altura da linha para espaçamento adequado */
    color: #F1F1F1;
    font-family: 'Milonga', cursive;
}

.tematizar-texto p:first-of-type strong {
    color: #FFFFFF;
}

.tematizar-texto p:last-of-type {
    font-size: 25px; /* Tamanho para "Descubra dicas de Drinks..." */
    width: 378px; /* Largura do texto */
    height: 60px; /* Altura do texto */
    line-height: 30px; /* Alinhamento do texto */
    color: #F1F1F1;
    font-family: 'Milonga', cursive;
}

.tematizar-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 523px; /* Mesma largura do texto */
    height: 548px; /* Mesma altura do texto */
}

.tematizar-card {
    position: relative;
    width: 240px; /* Ajuste para caber na grid */
    height: 260px; /* Proporção aproximada das imagens */
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.tematizar-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tematizar-card-titulo {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
    font-size: 1.5em;
    font-family: 'Lancelot', cursive;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Ajustes responsivos */
@media (max-width: 900px) {
    .tematizar-container {
        flex-direction: column;
        text-align: center;
    }
    .tematizar-texto {
        width: 100%;
        margin-bottom: 20px;
    }
    .tematizar-cards-container {
        width: 100%;
        height: auto;
    }
    .tematizar-card {
        width: 100%;
        height: auto;
    }
}
